.menu-item-container h3{
	text-decoration: underline;
}

#menu-buttons button{
	margin-top: 10px;
}

#chance-panels {
	margin-top: 10px;
}

.gem-percents ul{
	list-style: none;
	padding: 0;
}

.error-text {
	color: red;
}

#game-menu{
	padding-bottom: 10px;
}

#game-menu-options a{
	width:100%;
	margin-top: 10px;
}

.close-modal{
	margin-top: 10px;
}